In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import mannwhitneyu

In [31]:
sample_a = pd.read_csv('data/ab_test-redesign_sample_a.csv')
sample_b = pd.read_csv('data/ab_test-redesign_sample_b.csv')

In [32]:
sample_a['date'] = pd.to_datetime(sample_a['date'], format='%Y-%m-%d')
sample_b['date'] = pd.to_datetime(sample_b['date'], format='%Y-%m-%d')

In [33]:
sample_A =  sample_a.groupby(['date', 'group']).agg({
    
    'cid':'count',
    'transactions':'sum',
    'revenue':'sum'
}).reset_index().rename(columns={'cid': 'cid_count', 
                                 'transactions': 'transactions_sum', 
                                 'revenue':'revenue_sum'
                                 })
sample_A.head()

        date group  cid_count  transactions_sum  revenue_sum
0 2020-11-06     A       2576                16      1577279
1 2020-11-07     A       2704                23      1721886
2 2020-11-08     A       3354                25       846051
3 2020-11-09     A       3234                18       708830
4 2020-11-10     A       3022                29       826984

In [34]:
sample_B =  sample_b.groupby(['date', 'group']).agg({
    
    'cid':'count',
    'transactions':'sum',
    'revenue':'sum'
}).reset_index().rename(columns={'cid': 'cid_count', 
                                 'transactions': 'transactions_sum', 
                                 'revenue':'revenue_sum'
                                 })
sample_B.head()

        date group  cid_count  transactions_sum  revenue_sum
0 2020-11-06     B       2499                19       996645
1 2020-11-07     B       2804                19       555499
2 2020-11-08     B       3291                24      3044842
3 2020-11-09     B       3062                25      1285836
4 2020-11-10     B       3072                30      2414726

In [35]:
H0 = 'Средние чеки в группах А и B равны'
H1 = 'Ежедневный средний чек в группе А меньше, чем в группе B'
a_avg = sample_A['revenue_sum'] 
b_avg = sample_B['revenue_sum'] 


alpha = 0.1

stat, pval = mannwhitneyu(a_avg, b_avg, alternative="less")

if pval < alpha:
    print("Отвергаем нулевую гипотезу H0 ({})".format(H0))
    print(f"Альтернативная гипотеза. H1:{H1}")
else:
    print(f"Принимаем нулевую гипотезу {H0}")

Отвергаем нулевую гипотезу H0 (Средние чеки в группах А и B равны)
Альтернативная гипотеза. H1:Ежедневный средний чек в группе А меньше, чем в группе B